@inherits LayoutComponentBase
@inject IJSRuntime JS

<main>
    <div class="main">
    </div>
</main>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ImGui.Init(JS);
        }
    }
}