<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap os="windows" dll="csfml-window" target="./runtimes/win/native/csfml-Window.dll"/>
    <dllmap os="windows" dll="csfml-system" target="./runtimes/win/native/csfml-System.dll"/>
    <dllmap os="windows" dll="csfml-graphics" target="./runtimes/win/native/csfml-Graphics.dll"/>
    <dllmap os="windows" dll="csfml-audio" target="./runtimes/win/native/csfml-Audio.dll"/>


    <dllmap os="linux" dll="csfml-window" target="./runtimes/debian-arm64/native/csfml-window.so"/>
    <dllmap os="linux" dll="csfml-system" target="./runtimes/debian-arm64/native/csfml-system.so"/>
    <dllmap os="linux" dll="csfml-graphics" target="./runtimes/debian-arm64/native/csfml-graphics.so"/>
    <dllmap os="linux" dll="csfml-audio" target="./runtimes/debian-arm64/native/csfml-audio.so"/>
    
</configuration>