/* /Pages/Index.razor.rz.scp.css */

body[b-y90sjhvab9] {
    font-family: arial;
    margin: 0;
    padding: 0 0 0 0;
}
.emscripten[b-y90sjhvab9] { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
div.emscripten[b-y90sjhvab9] { text-align: center; }
div.emscripten_border[b-y90sjhvab9] { border: none; }
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten[b-y90sjhvab9] { border: 0px none; background-color: black; }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-z9cii2jlyo] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-z9cii2jlyo] {
    flex: 1;
}

.sidebar[b-z9cii2jlyo] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-z9cii2jlyo] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-z9cii2jlyo]  a, .top-row[b-z9cii2jlyo]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-z9cii2jlyo]  a:hover, .top-row[b-z9cii2jlyo]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-z9cii2jlyo]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-z9cii2jlyo] {
        display: none;
    }

    .top-row.auth[b-z9cii2jlyo] {
        justify-content: space-between;
    }

    .top-row[b-z9cii2jlyo]  a, .top-row[b-z9cii2jlyo]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-z9cii2jlyo] {
        flex-direction: row;
    }

    .sidebar[b-z9cii2jlyo] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-z9cii2jlyo] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-z9cii2jlyo]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-z9cii2jlyo], article[b-z9cii2jlyo] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
