.vs/
.vscode/
.idea/

.build/
/**/.build/

/**/.vs/
/**/.nuget/
/**/.vscode/
/**/.idea/

/**/.vs/**
/**/.nuget/**
/**/.vscode/**
/**/.idea/**

/**/**/[Bb]in/**
/**/**/[Oo]bj/**
/**/vs/**
/**/vscode/**
/**/idea/**

/**/**/[Pp]ublish/**
/**/[Pp]ublish/**


/**/[Bb]uild/**

/**/_/**

/**/**/_/**

**/.DS_Store
**/.log
**/**/**/**/.xsd

*.log
*DS_Store
*.DS_Store
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.zip
*.deb
*.tar
*.mdb
*.opendb
*StyleCop.Cache
*.collabignore

*.pidb.meta
*.pdb.meta
*.mdb.meta
*FodyWeavers.xml
*FodyWeavers.xsd
*.htm


