.vs/
.vscode/
.idea/
.test/

/**/.vs/
/**/.publish/
/**/.nuget/
/**/.vscode/
/**/.idea/
/**/.test/

/**/.vs/**
/**/.nuget/**
/**/.vscode/**
/**/.idea/**
/**/.test/**

/**/**/[Bb]in/**
/**/**/[Oo]bj/**
/**/**/[Ll]ib/**
/**/**/.[Tt]est/**
/**/vs/**
/**/vscode/**
/**/idea/**
/**/.[Tt]est/**

/**/**/[Pp]ublish/**
/**/[Pp]ublish/**

/**/**/.[Pp]ublish/**
/**/.[Pp]ublish/**

/**/**/.[Bb]uild/**
/**/.[Bb]uild/**

/**/_/**

/**/**/_/**

**/.DS_Store
**/.log
**/**/**/**/.xsd

*.log
*.exe
*.txt
*.nupkg
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.deb
*.tar
*.mdb
*.opendb
*StyleCop.Cache
*.collabignore
*alis.sln.DotSettings.user
*DS_Store
*.DS_Store
*.tmp
*.TMP
*.pidb.meta
*.pdb.meta
*.mdb.meta
*FodyWeavers.xml
*FodyWeavers.xsd
*.htm


.config/Config.props
.config/Config.props

