/**/**/[Bb]in/**
/**/**/[Oo]bj/**


.vs/
.vscode/
.gradle/

ExportedObj/
.consulo/
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*StyleCop.Cache
*.collabignore

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

crashlytics-build.properties