<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    </packageSources>

    <packageRestore>
        <add key="enabled" value="True"/>
        <add key="automatic" value="True"/>
    </packageRestore>

    <config>
        <!-- Forcing packages to be saved in a local .nuget folder -->
        <add key="globalPackagesFolder" value=".nuget/packages"/>
        <add key="repositoryPath" value=".nuget/packages"/>
    </config>

    <solution>
        <!-- Automatically update packages when running restore -->
        <add key="disableSourceControlIntegration" value="true"/>
        <add key="autoUpgradePackages" value="True"/>
    </solution>
</configuration>
