<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleExecutable</key>
<string>LogMX</string>
<key>CFBundleIconFile</key>
<string>logmx.icns</string>
<key>CFBundleIdentifier</key>
<string>com.lightysoft.logmx.LogMX</string>
<key>CFBundleDisplayName</key>
<string>LogMX</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>LogMX</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>8.2.0</string>
<key>CFBundleVersion</key>
<string>8.2.0</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>NSHumanReadableCopyright</key>
<string></string>
<key>NSHighResolutionCapable</key>
<true/>
<key>NSSupportsAutomaticGraphicsSwitching</key>
<true/>
<key>JVMVersion</key>
<string>8</string>
<key>JVMMainClassName</key>
<string>com.lightysoft.logmx.LogMX</string>
<key>JVMClassPath</key>
<array>
<string>$APP_ROOT/../parsers/classes</string>
<string>$APP_ROOT/../managers/classes</string>
<string>$APP_ROOT/../jar/logmx.jar</string>
<string>$APP_ROOT/../lib/*</string>
</array>
<key>JVMDebug</key>
<true/>
<key>CFBundleDocumentTypes</key>
<array>
</array>
<key>LSArchitecturePriority</key>
<array>
</array>
<key>LSEnvironment</key>
<dict>
<key>LC_CTYPE</key>
<string>UTF-8</string>
</dict>
<key>JVMOptions</key>
<array>
<string>-DLogMXMacOSNativeApp=true</string>
</array>
<key>JVMDefaultOptions</key>
<dict>
</dict>
<key>JVMArguments</key>
<array>
</array>
</dict>
</plist>

