@import 'variables.scss';
@import 'typography.scss';
@import 'common.scss';
@import 'templates/header.scss';
@import 'templates/navigation.scss';
@import 'templates/hero-area.scss';
@import 'templates/about_us.scss';
@import 'templates/call-to-action.scss';
@import 'templates/contact.scss';
@import 'templates/counter.scss';
@import 'templates/pricing.scss';
@import 'templates/portfolio.scss';
@import 'templates/services.scss';
@import 'templates/skills.scss';
@import 'templates/team.scss';
@import 'templates/testimonials.scss';
@import 'templates/blog.scss';
@import 'templates/single-post.scss';
@import 'templates/footer.scss';
@import 'templates/404.scss';
@import 'responsive.scss';





