name: "[PRO][TEST]"

on:
  push:
    branches: [ master ]
  
  
jobs:
  macos_13_x64:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      pages: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    runs-on: macOS-15
    if: "contains(github.event.head_commit.message, 'test: pro')"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Install Workloads
        run: dotnet workload install wasm-tools wasm-experimental android ios

      - name: install
        run: |
          brew install sdl2 sdl2_image sdl2_ttf ffmpeg
          brew link ffmpeg

      - name: Dotnet test Release
        run: dotnet test alis.sln -c Release -f net8.0
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: 1

  windows_2022_x64:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      pages: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    runs-on: windows-2022
    if: "contains(github.event.head_commit.message, 'test: pro')"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Install Workloads
        run: dotnet workload install wasm-tools wasm-experimental android ios
          
      - name: install
        run: |
          choco install ffmpeg -y

      - name: Dotnet test Release
        run: dotnet test alis.sln -c Release -f net8.0
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: 1

  ubuntu_22_04_x64:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      pages: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    runs-on: ubuntu-22.04
    if: "contains(github.event.head_commit.message, 'test: pro')"
    steps:

      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Install Workloads
        run: dotnet workload install wasm-tools wasm-experimental android ios

      - name: install
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev ffmpeg
        
      - name: Free up disk space
        run: |
          sudo apt-get clean
          sudo apt-get autoremove -y
          sudo rm -rf /usr/local/lib/android /opt/ghc /usr/share/swift /usr/local/.ghcup
          df -h

      - name: Dotnet test Release
        run: dotnet test alis.sln -c Release -f net8.0
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: 1


      - uses: dorny/test-reporter@v1
        with:
          name: Ubuntu 22_04 x64 Test Report                  # Name of the check run which will be created
          path: '.test/**/**/*.trx'                      # Path to test results (inside artifact .zip)
          reporter: dotnet-trx              # Format of test results

      - name: Set badge color
        shell: bash
        run: |
          case ${{ fromJSON( steps.test-results.outputs.json ).conclusion }} in
            success)
              echo "BADGE_COLOR=31c653" >> $GITHUB_ENV
              ;;
            failure)
              echo "BADGE_COLOR=800000" >> $GITHUB_ENV
              ;;
            neutral)
              echo "BADGE_COLOR=696969" >> $GITHUB_ENV
              ;;
          esac

      - name: Create badge
        uses: emibcn/badge-action@v2.0.3
        with:
          label: Tests
          status: '${{ fromJSON( steps.test-results.outputs.json ).formatted.stats.tests }} tests, ${{ fromJSON( steps.test-results.outputs.json ).formatted.stats.runs }} runs: ${{ fromJSON( steps.test-results.outputs.json ).conclusion }}'
          color: ${{ env.BADGE_COLOR }}
          path: badge.svg

      - name: Upload badge to Gist
        # Upload only for master branch
        if: >
          github.event_name == 'workflow_run' && github.event.workflow_run.head_branch == 'master' ||
          github.event_name != 'workflow_run' && github.ref == 'refs/heads/master'
        uses: andymckay/append-gist-action@1fbfbbce708a39bd45846f0955ed5521f2099c6d
        with:
          token: ${{ secrets.GIST_TOKEN }}
          gistURL: https://gist.github.com/pabllopf/46071d4896642c7fad2dc67a5abebb5c
          file: badge.svg
          
