name: "[PRO][SONARCLOUD]"

on:
  push:
    branches:
      - main
      - master
      - develop
      - 'releases/**'
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build-and-analyze:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      pages: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    if: contains(github.event.head_commit.message, 'fix:')
    runs-on: macos-15-intel

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 4. Setup .NET 8.0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: SonarQube Scan
        run: |
          dotnet tool install --global coverlet.console --version 6.0.3
          dotnet tool install --global dotnet-sonarscanner --version 8.0.2
          
          dotnet sonarscanner begin /k:"${{ secrets.SONAR_PROJECT_KEY }}" /o:"${{ secrets.SONAR_ORGANIZATION }}" /d:sonar.scanner.scanAll=false /d:sonar.host.url="${{ secrets.SONAR_HOST_URL }}" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.scanner.skipJreProvisioning=false /d:sonar.language=cs /d:sonar.dotnet.version=8.0 /d:sonar.verbose=false /d:sonar.cs.opencover.reportsPaths="./.test/**/*.opencover.xml"
          dotnet build --no-incremental -c Debug -f net8.0 ./alis_design.sln
          dotnet test --no-build -f net8.0 -c Debug ./alis_design.sln --collect "XPlat Code Coverage;Format=opencover" --results-directory ./.test
          dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"