name: "[PRO][SONARCLOUD]"

on:
  push:
    branches:
      - main
      - master
      - develop
      - 'releases/**'
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build-and-analyze:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      pages: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    if: contains(github.event.head_commit.message, 'fix:')
    runs-on: macOS-15

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 2. Install SDL2 and ffmpeg dependencies
      - name: install
        run: brew install glew glfw sdl2 sdl2_image sdl2_ttf ffmpeg csfml sfml

      # 3. Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu' # Alternative distribution options are available.

      # 4. Setup .NET 8.0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          
      - name: Install Workloads
        run: dotnet workload install wasm-tools wasm-experimental android ios

      - name: SonarQube Scan
        run: |
          dotnet tool restore

          dotnet sonarscanner begin \
            /k:"${{ secrets.SONAR_PROJECT_KEY }}" \
            /o:"${{ secrets.SONAR_ORGANIZATION }}" \
            /d:sonar.host.url="${{ secrets.SONAR_HOST_URL }}" \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
            /d:sonar.cs.opencover.reportsPaths="**/*.opencover.xml"

          dotnet build ./alis.sln -c Release

          dotnet test ./alis.sln \
            -c Release \
            --no-build \
            /p:CollectCoverage=true \
            /p:CoverletOutputFormat=opencover

          dotnet sonarscanner end \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}"

