name: "[PRO][SONARCLOUD]"

on:
  push:
    branches:
      - main
      - master
      - develop
      - 'releases/**'
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build-and-analyze:
    if: contains(github.event.head_commit.message, 'fix:')
    runs-on: macOS-15

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 2. Install SDL2 and ffmpeg dependencies
      - name: install
        run: brew install glew glfw sdl2 sdl2_image sdl2_ttf ffmpeg csfml sfml

      # 4. Setup .NET 8.0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.301

      - name: SonarQube Scan
        run: |
          dotnet tool install --global coverlet.console --version 6.0.3
          dotnet tool install --global dotnet-sonarscanner --version 8.0.2
          
          dotnet sonarscanner begin /k:"${{ secrets.SONAR_PROJECT_KEY }}" /o:"${{ secrets.SONAR_ORGANIZATION }}" /d:sonar.scanner.scanAll=false /d:sonar.host.url="${{ secrets.SONAR_HOST_URL }}" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.scanner.skipJreProvisioning=false /d:sonar.language=cs /d:sonar.dotnet.version=8.0 /d:sonar.verbose=false /d:sonar.cs.opencover.reportsPaths="test/**/*.opencover.xml"

          dotnet build --no-incremental -c Release -f net8.0 ./6_Ideation/Time/src/Alis.Core.Aspect.Time.csproj
          dotnet test --collect "Code Coverage" -f net8.0 -c Release ./6_Ideation/Time/test/Alis.Core.Aspect.Time.Test.csproj --results-directory test
          
          dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"