name: "[PRO][CONTRIBUTORS]"
on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  CreateFiles:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      pages: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - name: "readme.md"
        uses: akhilmhdh/contributors-readme-action@v2.3.10
        with:
          image_size: 75
          readme_path: "readme.md"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
            
          
