name: "[PRO][TEST]"

on:
  push:
    branches: [ master ]
  
  
jobs:
  macos_13_x64:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      pages: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    runs-on: macOS-15
    if: "contains(github.event.head_commit.message, 'test: pro')"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: install
        run: |
          brew install sdl2 sdl2_image sdl2_ttf ffmpeg
          brew link ffmpeg

      - name: Dotnet test Release
        run: dotnet test alis_design.sln -c Release -f net8.0
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: 1

  windows_2022_x64:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      pages: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    runs-on: windows-2022
    if: "contains(github.event.head_commit.message, 'test: pro')"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: install
        run: |
          choco install ffmpeg -y

      - name: Dotnet test Release
        run: dotnet test alis_design.sln -c Release -f net8.0
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: 1

  ubuntu_22_04_x64:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      pages: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    runs-on: ubuntu-22.04
    if: "contains(github.event.head_commit.message, 'test: pro')"
    steps:

      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
        
      - name: Free up disk space
        run: |
          sudo apt-get clean
          sudo apt-get autoremove -y
          sudo rm -rf /usr/local/lib/android /opt/ghc /usr/share/swift /usr/local/.ghcup
          df -h

      - name: Dotnet test Release
        run: dotnet test alis_design.sln -c Release -f net8.0
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: 1
    
