<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap os="windows" dll="csfml-window" target="./runtimes/win/native/csfml-Window.dll"/>
  <dllmap os="windows" dll="csfml-system" target="./runtimes/win/native/csfml-System.dll"/>
  <dllmap os="windows" dll="csfml-graphics" target="./runtimes/win/native/csfml-Graphics.dll"/>
  <dllmap os="windows" dll="csfml-audio" target="./runtimes/win/native/csfml-Audio.dll"/>
  
  
  <dllmap os="linux" dll="csfml-window" target="./runtimes/linux/native/csfml-window.so"/>
  <dllmap os="linux" dll="csfml-system" target="./runtimes/linux/native/csfml-system.so"/>
  <dllmap os="linux" dll="csfml-graphics" target="./runtimes/linux/native/csfml-graphics.so"/>
  <dllmap os="linux" dll="csfml-audio" target="./runtimes/linux/native/csfml-audio.so"/>



  <dllmap os="osx" dll="csfml-window" target="./runtimes/osx/native/csfml-window.dylib"/>
  <dllmap os="osx" dll="csfml-system" target="./runtimes/osx/native/csfml-system.dylib"/>
  <dllmap os="osx" dll="csfml-graphics" target="./runtimes/osx/native/csfml-graphics.dylib"/>
  <dllmap os="osx" dll="csfml-audio" target="./runtimes/osx/native/csfml-audio.dylib"/>
  
</configuration>
